<div class = "container">
  <h1>Edit</h1>

  <br>

  <%= form_with(model: @user, local: true, url: admin_path(@user)) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
      <div class="field">
        <%= form.label :id %><br>
        <%= form.text_field :id %>
      </div>

      <br>

      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </div>

      <br>

      <div class="field">
        <%= form.label :email %><br>
        <%= form.text_field :email %>
      </div>
    </div>

    <br>

    <div class="actions">
      <%= form.submit(class: 'btn btn-secondary') %>
    </div>
  <% end %>
</div>