<h1>Admin</h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>  
    <% @users.each do |user| %>
      <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', admin_path(user) %></td>
        
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_admin_path(user) %></td>
          <td><%= link_to 'Destroy', admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>

</table>
