<div class = "container">
  <h1>Show</h1>

  <br>

  <p id="notice"><%= notice %></p>

  <div class="shadow-none p-3 mb-4 bg-light rounded">
    <p>
      <strong>ID:</strong><br>
      <%= @user.id %>
    </p>

    <p>
      <strong>Name:</strong><br>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong><br>
      <%= @user.email %>
    </p>
  </div>


  <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_admin_path(@user) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', admin_index_path %></button>
</div>