<div class = "container">
  <h1>Edit</h1>

  <br>

  <%= form_with(model: @case, local: true) do |form| %>
    <% if @case.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@case.errors.count, "error") %> prohibited this @case from being saved:</h2>

        <ul>
          <% @case.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        
      </div>
    <% end %>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
      <div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <br>

      <div class="field">
        <%= form.label :status %><br>
        <%= form.select :status, Case.statuses.keys, :selected=>Case.statuses[@case.status] %>
      </div>

      <br>

      <div class="field">
        <%= form.label :category %><br>
        <%= form.select :category, Case.categories.keys, :selected=>Case.categories[@case.category] %>
      </div>

      <br>

      <div class="field">
        <%= form.label :memo %><br>
        <%= form.text_area :memo %>
      </div>
    </div>

      <div class="actions">
       <%= form.submit(class: 'btn btn-secondary') %>
      </div>

  <% end %>
</div>