
<div class = "container">
  <h1>Case index</h1>

  <br>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <details>
        <summary>assigned</summary>

          <details>
            <summary>buy</summary>
              <ul>
                <% @cases.where(category: :buy,status: :assigned).each do |c| %>
                  <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  

                  <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>
          
          <details>
            <summary>refund</summary>
              <ul>
                <% @cases.where(category: :refund,status: :assigned).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %> 

                  <% if user_signed_in? %>  
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>
          
          <details>
            <summary>resend</summary>
              <ul>
                <% @cases.where(category: :resend,status: :assigned).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  

                  <% if user_signed_in? %> 
                      <%= link_to 'Edit', edit_case_path(c) %>  
                      <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>
      </details>
    </div>

    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <details>
        <summary>progress</summary>

          <details>
            <summary>buy</summary>
            <ul>
                <% @cases.where(category: :buy,status: :progress).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  
                    
                  <% if user_signed_in? %> 
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
            </ul>
          </details>

          <details>
            <summary>refund</summary>
              <ul>
                <% @cases.where(category: :refund,status: :progress).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  

                  <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>

          <details>
            <summary>resend</summary>
              <ul>
                <% @cases.where(category: :resend,status: :progress).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
              </ul>
          </details>
      </details>
    </div>

    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <details>
        <summary>complete</summary>

          <details>
            <summary>buy</summary>
              <ul>
                <% @cases.where(category: :buy,status: :complete).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  

                  <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>

          <details>
            <summary>refund</summary>
              <ul>
                <% @cases.where(category: :refund,status: :complete).each do |c| %>
                    <li><%= c.title %>  
                    <%= link_to 'Show', case_path(c) %>  
                    
                  <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>

          <details>
            <summary>resend</summary>
              <ul>
                <% @cases.where(category: :resend,status: :complete).each do |c| %>
                    <li><%= c.title %> 
                    <%= link_to 'Show', case_path(c) %>  
                    
                  <% if user_signed_in? %>
                    <%= link_to 'Edit', edit_case_path(c) %>  
                    <%= link_to 'Destroy', case_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                <% end %>
              </ul>
          </details>
      </details>
    </div>
  </div>
  <br>

    <% if user_signed_in? %>
     <button type="button" class="btn btn-outline-primary"><%= link_to 'add new', new_case_path %></button>
    <% end %>
</div>