<div class = "container">
  <h1>Show</h1>

  <p id="notice"><%= notice %></p>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <p>
        <strong>Title:</strong><br>
        <%= @case.title %>
      </p>
    </div>

    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <p>
        <strong>Status:</strong><br>
        <%= @case.status %>
      </p>
    </div>

    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <p>
        <strong>Category:</strong><br>
        <%= @case.category %>
      </p>
    </div>

    <div class="shadow-none p-3 mb-4 bg-light rounded">
      <p>
        <strong>Memo:</strong><br>
        <%= @case.memo %>
      </p>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_case_path(@case) %></button> 
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', cases_path %></button>
</div>
<br>