// Place all the styles related to the Cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="text"] {
  width: 300px;
  height: 40px;
}

select { width: 250px; }

textarea {
width: 250px;
height: 10em;
}

