<div class = "container">
  <h1>Edit</h1>

  <br>

  <%= form_with(model: @info, local: true) do |form| %>
    <% if @info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@info.errors.count, "error") %> prohibited this @info from being saved:</h2>

        <ul>
          <% @info.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
      <div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <br>

      <div class="field">
        <%= form.label :memo %><br>
        <%= form.text_area :memo %>
      </div>

    </div>

      <div class="actions">
        <%= form.submit(class: 'btn btn-secondary') %>
      </div>
  
  <% end %>
</div>