<div class = "container">

  <h2>Info</h2>

  <br>

  <div class="shadow p-3 mb-5 bg-white rounded">
    <ul>
      <% @infos.each do |info| %>
        <li>
        <%= link_to info.title, info_path(info) %>
        </li>
      <% end %>
    </ul>
  </div>

    <% if user_signed_in? %>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'add new', new_info_path %></button>
    <% end %>
</div>