<div class = "container">
  <h2>Show</h2>

  <br>

  <div class="shadow-none p-3 mb-4 bg-light rounded">
    <p>
      <strong>Title:</strong><br>
      <%= @info.title %>
    </p>

    <p>
      <strong>Post:</strong><br>
      <%= @info.memo %>
    </p>

    <p>
      <strong>Create:</strong><br>
      <%= @info.created_at %>
    </p>
  </div>

  <% if user_signed_in? %>
   <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_info_path(@info) %></button> 
  <% end %>

  <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', infos_path %></button> 
</div>